.page {
  appearance: none;
  padding-block-start: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" 410 715;
  background-color: var(--color-bg);
  background-image: var(--img-bg);
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
  width: var(--main-width);
  padding: 131px 50px;
  margin-block-end: 96px;
  background-color: var(--color-bg);
  margin-left: var(--indent);
  margin-right: var(--indent);
}

.header__logo {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--font-accent), sans-serif;
}

.header__title {
  margin-top: 19px;
  text-transform: uppercase;
  font-family: var(--font-accent), sans-serif;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  box-shadow: inset 0 0 0 2px var(--accent-color);
  min-width: var(--main-width);
  margin-left: var(--indent);
  margin-right: var(--indent);
  overflow: hidden;
  object-fit: cover;
  margin-block-end: 6px;
}

.card__title {
  font-size: 18px;
  padding-bottom: 2px;
  padding-top: 7px;
  padding-left: 14px;
  border-bottom: 2px solid var(--accent-color);
  font-variation-settings: "wght" 410 715;
}

.card__image {
  position: relative;
  border-left: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
  box-shadow: inset 0 0 2px 2px var(--accent-color);
  min-width: var(--picture-size);
}

.image-source {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.card__text {
  padding-top: 18px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 18px;
}

.watermark {
  position: absolute;
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  text-shadow: 2px 1px 0 var(--color-bg);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  inset-block-start: 23px;
  inset-inline-end: clamp(0.8125rem, -0.0529rem + 3.6923vw, 1.5625rem);
}

@supports (
  (text-stroke: 1px var(--color-bg, #ffffff)) or
    (-webkit-text-stroke: 1px var(--color-bg, #ffffff))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--color-bg, #ffffff);
    text-stroke: 1px var(--color-bg, #ffffff);
    text-shadow: none;
  }
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 6px;
  padding-right: 28px;
  padding-bottom: 30px;
}

.button {
  position: relative;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.button__text {
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  color: var(--color-bg);
  mix-blend-mode: difference;
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
  padding-top: 7px;
}

.btn-shad:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  color: transparent;
}

.btn-shad:focus-visible {
  box-shadow: none;
  outline: none;
}

.button-paint::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease-in-out;
}

.button-paint:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.like-icon {
  overflow: visible;
  min-width: 38px;
  display: flex;
  align-items: center;
}

.save {
  padding: 52px 0 103px;
  display: flex;
  justify-content: center;
}

.save__button {
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: 1fr auto;
  width: 335px;
  height: 55px;
  padding-left: 19px;
  padding-right: 18px;
  align-items: center;
}

.popup {
  font-family: var(--font-accent), sans-serif;
  color: var(--accent-color);
  text-transform: uppercase;
  width: 353px;
  padding: 30px;
  background-color: var(--color-bg);
  text-shadow: none;
}

.popup[open] {
  display: flex;
  flex-direction: column;
}

.popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.popup__text {
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
}

.form {
  padding-block-start: 30px;
}

.popup__close-btn {
  width: 293px;
  height: 38px;
  text-transform: uppercase;
}

.popup::backdrop {
  opacity: 0.75;
  background-color: var(--accent-color);
}

.floppy {
  color: var(--color-bg);
  mix-blend-mode: difference;
  max-width: 21px;
}

.floppy-dlg {
  max-width: 39px;
}

.grayscale {
  filter: grayscale(0.7);
}

.saturate {
  filter: saturate(5);
}

.hue {
  filter: hue-rotate(26deg);
}

.invert {
  filter: invert(0.8);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(8px);
}

.mult {
  filter: hue-rotate(60deg) contrast(0.5) brightness(1.4);
}

@media (width <= 376px) {
  .header {
    padding: 120px 50px;
    margin-block-end: 102px;
  }

  .card__text {
    padding: 26px 28px 19px;
  }

  .card__title {
    padding-right: 9px;
  }

  .watermark {
    padding-top: 3px;
    inset-inline-end: 26px;
  }

  .card {
    margin-block-end: 3px;
  }

  .save {
    padding-top: 47px;
  }

  .save__button {
    grid-template-columns: 1fr;
    width: 306px;
    height: 84px;
    justify-items: center;
    padding-left: 18px;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .popup {
    width: 341px;
  }

  .floppy {
    min-width: 28px;
  }
}
